<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>IDict</title>
</head>
<body>
<div id="app">
    <TodoList/>
</div>

<!--
    1234<br>
    {{myfun()}}<br>
    {{abc}}
    <span v-if="seen">
        v-if seen
    </span>
-->
<!--
    <ol>
        <todo-item v-for="item in alist"
                   v-bind:todo="item"
                   v-bind:key="item.id">
        </todo-item>
    </ol>
    <form @submit.prevent="my_submit" action="api">
        <button type="submit">submit</button>
    </form>
    <span>{{g_data}}</span>
-->
    


<todo-list id="todo-list-1"></todo-list>

<!-- built files will be auto injected -->
</body>
</html>
